<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<body class="bg-gray-100" layout:fragment="body">
    <div th:if="${param.error != null}" class="absolute w-full flex justify-center">
        <div class="move-up-anim transition-all m-6">
            <div id="toast-danger" class="flex items-center w-full max-w-sm p-4 mb-4 text-gray-500 bg-white rounded-lg shadow" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
                    <i class="bi bi-exclamation-triangle-fill before:text-lg"></i>
                </div>
                <div class="ms-3 me-1 text-sm font-normal">Thông tin đăng nhập không hợp lệ</div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#toast-danger" aria-label="Close">
                    <i class="bi bi-x before:text-2xl"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="mx-auto container flex items-center h-screen">
        <div class="grid grid-cols-1 md:grid-cols-2 bg-white rounded-lg shadow-lg w-full">
            <div class="col-span-1 bg-primary-50 rounded-t-lg md:rounded-l-lg">
                <img class="w-full" th:src="@{/images/illustration.svg}" />
            </div>

            <div class="p-6 md:p-12 flex items-center">
                <form method="post" class="h-fit w-full">
                    <h1 class="font-semibold text-2xl md:text-3xl pb-2">Hello! Welcome back</h1>
                    <p class="text-gray-600 text-sm pb-6">Log in and continue your work!</p>
                    <label class="font-medium pb-1 block">Tên đăng nhập</label>
                    <input name="username" type="text"
                        class="border border-gray-300 focus:border-primary-500/50 focus:ring-4 focus:ring-primary-500/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <label class="font-medium pb-1 block">Mật khẩu</label>
                    <input name="password" type="password"
                        class="border border-gray-300 focus:border-primary-500/50 focus:ring-4 focus:ring-primary-500/25 focus:outline-none rounded-md px-3 py-2 mt-1 mb-5 w-full" />
                    <button type="submit" class="btn-primary mt-5">
                        <span class="inline-block">Đăng nhập</span>
                        <i class="bi bi-box-arrow-in-right text-xl"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>